.arrow-bounce {
    animation: bounce 8s infinite;
}

@keyframes bounce {
    /* blue, red, goldenrod, cyan */
    0%, 5% {
        transform: translateX(0);
        stroke: #2852e2;
    }
    10% {
        transform: translateX(20px);
    }
    12.5% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(5px);
    }
    20%, 25% {
        transform: translateX(0);
    }

    25%, 30% {
         transform: translateX(0);
         stroke: #ff0000;
     }
    35% {
        transform: translateX(20px);
    }
    37.5% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(5px);
    }
    45%, 50% {
        transform: translateX(0);
    }

    50%, 55% {
        transform: translateX(0);
        stroke: #dacd2a;
    }
    60% {
        transform: translateX(20px);
    }
    62.5% {
        transform: translateX(0);
    }
    65% {
        transform: translateX(5px);
    }
    70%, 75% {
        transform: translateX(0);
    }

    75%, 80% {
        transform: translateX(0);
        stroke: #3cddd6;
    }
    85% {
        transform: translateX(20px);
    }
    87.5% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(5px);
    }
    95%, 100% {
        transform: translateX(0);
    }
}
