.head-container-uk {
  margin-top: 15vh;
  margin-bottom: 4vh;
  margin-left: 10vw;
  color: white;
  font-size: 28px;
  font-weight: 900;
  font-family: sans-serif;
}

.uk-banner {
  background: linear-gradient(to top right, #0033A0, black);
}
