.spin {
  animation: rotate-keyframes 700ms;
  animation-timing-function: ease-out;
  animation-delay: 100ms;
}

@keyframes rotate-keyframes {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
