.website-gradient {
  background: linear-gradient(to top right, #45D5DE, #B8E732);
}

.head-container-website {
  margin-top: 15vh;
  margin-bottom: 4vh;
  margin-left: 10vw;
  color: white;
  font-size: 28px;
  font-weight: 900;
  font-family: sans-serif;
}
